<section class="footer">
    <div class="contact">
        <div class="footer-components">
            <ul>
                <li>
                        <a class="navbar-brand" href="/"><img src="img/ABEL_LOGO.png" alt="ABEL LOGO"><span>BEL</span></a>
                        
                </li>
                <li><span class="iconTel"></span> <span>Bel ons: 010 - 842 92 59</span></li>
                <li><span class="iconMail"></span>  <a href="mailto:mail@abel.com">mail@abel.com</a> </li>
                <li><span class="iconMap"></span>   Willem Buytewechstraat 42 3024 BN Rotterdam The Netherlands</li>
            </ul>
            <ul>
                <li>
                    <h3>pagina's</h3>
                </li>
                <li><a href="/">Wat is accessibility?</a></li>
                <li><a href="/">Hoe verander ik mee?</a></li>
                <li><a href="/">Onze voorlichtingen</a></li>
                <li><a href="/accessibilityCheck">Accessibility Check</a></li>
                <li><a href="/over-ons">Over ons</a></li>
                <li><a href="/contact">Contact </a></li>
            </ul>
            <ul>
                    <li>
                        <h3>Top 5 uit de test</h3>
                    </li>
                    <li><a href="http://www.level-level.nl">1. Level Level</a></li>
                    <li><a href="http://www.google.com">2. Google</a></li>
                    <li><a href="http://www.coolblue.nl">3. Coolblue</a></li>
                    <li><a href="http://www.ah.nl">4. Albert Heijn</a></li>
                    <li><a href="http://www.bol.com">5. Bol.com</a></li>
                </ul>
            <ul >
                <li>
                    <h3>Nieuwsbrief</h3>
                </li>
                <li><input type="email" class="form-control" id="exampleInputEmail1" aria-label="contact us via email" placeholder="Enter email">  <button type="submit" class="btn btn-primary">Aanmelden</button>              </li>
                <li><h3>Volg ons</h3></li>
                <div id="socialMedia">
                <li><a href="#" aria-label="ABEL Facebook"><span class="iconfb"></span></a></span></li>
                <li><a href="#"><span aria-label="ABEL Tiwtter" class="icontwitter"></span></a></li>
                <li> <a href="#" aria-label="ABEl Instagram"><span class="iconig"></span></a></li>
                    </div>
            </ul>

        </div>
        <div class="subfooter">
                <ul>
                    <li><a  href="#">Algemene voorwaarden</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Copyright @ 2018 - ABEL</a></li>
                </ul>
        </div>
    </div>
</section>
<% include ../partials/footerJS %>