<section class="footer">
    <div class="contact">

        <div class="footer-components">
            <ul>
                <li>
                        <a class="navbar-brand" href="/"><img src="img/logo_abel.png" alt=""> ABEL</a>
                </li>
                <li><span class="iconTel"></span> <span>Bel ons: 010 - 842 92 59</span></li>
                <li><span class="iconMail"></span>   mail@abel.com</li>
                <li><span class="iconMap"></span>   Willem Buytewechstraat 42 3024 BN Rotterdam The Netherlands</li>
            </ul>
            <ul>
                <li>
                    <h3>pagina's</h3>
                </li>
                <li><a href="#">Wat is accessibility?</a></li>
                <li><a href="#">Hoe verander ik mee?</a></li>
                <li><a href="#">Onze voorlichtingen</a></li>
                <li><a href="#">Accessibility Check</a></li>
                <li><a href="#">Over ons</a></li>
                <li><a href="#">Contact </a></li>
            </ul>
            <ul>
                    <li>
                        <h3>Top 5 uit de test</h3>
                    </li>
                    <li><a href="#">1. Level Level</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Coolblue</a></li>
                    <li><a href="#">Albert Heijn</a></li>
                    <li><a href="#">Bol.com</a></li>
                </ul>
            <ul >
                <li>
                    <h3>Nieuwsbrief</h3>
                </li>
                <li><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">  <button type="submit" class="btn btn-primary">Aanmelden</button>              </li>
                <li><h3>Volg ons</h3></li>
                <div id="socialMedia">
                <li><span class="iconfb"></span>
                    <li><span class="icontwitter"></span>
                        <li><span class="iconig"></span></li>
                    </div>
            </ul>

        </div>
        <div class="subfooter">
                <ul>
                    <li><a href="#">Algemene voorwaarden</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Copyright @ 2018 - ABEL</a></li>
                </ul>
        </div>
    </div>
</section>
<% include ../partials/footerJS %>