<section class="footer">
    <div class="contact">

        <div class="footer-components">
            <ul>
                <li>
                    <h3>Abel logo</h3>
                </li>
                <li><span class="iconTel"></span> <span>Bel ons: 010 - 842 92 59</span></li>
                <li><span class="iconMail"></span>   mail@abel.com</li>
                <li><span class="iconMap"></span>   Willem Buytewechstraat 42 3024 BN Rotterdam The Netherlands</li>
            </ul>
            <ul>
                <li>
                    <h3>pagina's</h3>
                </li>
                <li><a href="#">Wat is accessibility?</a></li>
                <li><a href="#">Hoe verander ik mee?</a></li>
                <li><a href="#">Onze voorlichtingen</a></li>
                <li><a href="#">Accessibility Check</a></li>
                <li><a href="#">Over ons</a></li>
                <li><a href="#">Contact </a></li>
            </ul>
            <ul>
                    <li>
                        <h3>Top 5 uit de test</h3>
                    </li>
                    <li><a href="#">Erik buuren</a></li>
                    <li><a href="#">Jan smeets</a></li>
                    <li><a href="#">Hans achterhuizen</a></li>
                    <li><a href="#">Romy van dalen</a></li>
                    <li><a href="#">Pieter van Akkers</a></li>
                </ul>
            <ul >
                <li>
                    <h3>Nieuwsbrief</h3>
                </li>
                <li><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">  <button type="submit" class="btn btn-primary">Aanmelden</button>              </li>
                <li><h3>Volg ons</h3></li>
                <div id="socialMedia">
                <li><span class="iconfb"></span>
                    <li><span class="icontwitter"></span>
                        <li><span class="iconig"></span></li>
                    </div>
            </ul>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
<!-- <script src="js/testSite.js" type="text/javascript"></script> -->