<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navbar-menu">
	<a class="navbar-brand" href="/">
		<img src="img/ABEL_LOGO.png" alt="ABEL logo">

	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0" role='navigation'>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/">
					Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/accessibility/">
					Accessibility</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/bijdrage/">Bijdrage</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/voorlichting/">Voorlichting</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/blog/">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/over-ons/">Over ons</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://access-abel.nl/contact/">Contact</a>
			</li>
			<li class="nav-item checker">
				<a role="button" class="nav-link " href="/">Accessibility Checker</a>
			</li>
		</ul>
	</div>
</nav>