<section class="partners">
    <div class="container partners">
        <div class="partner-images">
            <h2>Partners van Abel</h2>
            <img src="img/the-tribe_logo.png" alt="">
            <img src="img/HRO logo.png" alt="">
            <img src="img/level_logo.svg" alt="">
            <img src="img/coolblue_logo.png" alt="">
        </div>
    </div>
</section>