<section class="partners">
    <div class="container partners">
        <div class="partner-images">
            <h2>Partners van Abel</h2>
            <img src="img/the-tribe_logo.png" alt="The tribe ">
            <img src="img/HRO logo.png" alt=" Hogeschool Rotterdam">
            <img src="img/level_logo.svg" alt=" Level-level full service webbureau">
            <img src="img/coolblue_logo.png" alt="Coolblue webshop">
        </div>
    </div>
</section>