<section class="partners">
        <div class="container partners">
            <h2>Partners van Abel</h2>
            <img src="img/the-tribe_logo.png" alt="">
            <img src="img/ah_logo.png" alt="">
            <img src="img/coolblue_logo.png" alt="">
        </div>
    </section>