.container.intro {
    width: 55%;
    margin: 0 auto;
    display: flex;
}


.partner-images {
    width: 80%;
    margin: 0 auto;
}

section.footer {
    width: 55%;
    margin: 0 auto;
}

.explain a {
    color: #000;
    text-decoration: underline;
}

.contact {
    margin-top: 20px;
    font-size: 12px;
}

footer.blockquote-footer {
    margin-top: 15px;
    border: 0px;
}

.container.partners {
    width: 55%;
    background: #fff;
    text-align: center;
    height: 220px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.abel.image {
    padding-right: 20px;
}

.abel.text {
    width: 73%;
}


.container.about h2 {
    border-bottom: 3px solid #E88421;
    padding-bottom: 10px;
}

div#hulp a {
  
}

.result-explanation a {
 
}

.slideshow-content {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.container.partners img {
    margin-left: 80px;
    width: 90px;
}

.container.slideshow h2 {
    margin-bottom: 60px;
}

.slideshow-content img {
    margin-right: 40px;
    width: 150px;
    margin-top: -26px;
    height: 150px;
    border-radius: 50%;
}

.container.abel h2 {
    border-bottom: 3px solid #E88421;
    padding-bottom: 10px;
}

.footer-components h3 {
    margin-bottom: 20px;
    font-size: large;
}

section.slideshow {
    height: 300px;
}

footer {
    border-top: 8px solid #e88421;
}

.container.slideshow  {
   margin-top: 30px;
   /* width: 55%; */
}

.container.slideshow h2 {
    text-align: -webkit-center;
}


.container.partners h2 {
 padding-top: 20px;
 margin-bottom: 35px;
 font-family: 'Concert One';
}

h1,h2,h3,h4,.table thead th,div#headingTitle {
    font-family: 'Concert One';
}

div#accordion button {
    color: #000;
}

.result-explanation .nav-link {font-family: 'Concert One';color: #000;font-size: 19px;}

.home-info button.btn.btn-primary:hover {
    border-color: #04549a;
    color: #e88421;
}

.container {
    width: 55%;
    margin: 0 auto;
    overflow: auto;
    margin-top: 90px;
}

section.partners {
    background: #f4eee9;
    overflow:auto;
}

.intro-text {
    padding-right: 47px;
}

.container.intro p {
    font-size: 20px;
}


.container.intro img {
    width: 250px;
    margin-top: 50px;
}

.footer-components ul {
    /* width: 24%; */
}

.btn.btn-primary {
    font-weight: bold;
}

.home-info button.btn.btn-primary {background: #fff;height: 50px;font-weight: bold;color: #04549A;border: 1.5px solid #E88421;width: 185px;}

.contact-info button.btn.btn-primary {background: #E88421;height: 50px;font-weight: bold;color: #fff;border: 1.5px solid #04549A ;width: 185px;}

.container.intro button {height: 50px;width: 235px;}

b {
    display: inline-block;
}

section.home-info {background-color: #F3EEE9;min-height: 401px;margin-top: 90px;}


.home-info h5.card-title {font-family: 'Concert One', cursive;margin-bottom: 30px;}


.home-info h2.card-title {
    margin-bottom: 30px;
    font-size: 20px;
}

.container.abel {
    width: 55%;
    margin-top: 50px;
    display: flex;
}

a.navbar-brand {
    color: #0f5599;
}

.reference-text {
    width: 55%;
}

.navbar-light .navbar-brand {
    color: #0f5599;
    width: 0px;
}


.footer-components ul:nth-child(2),.footer-components ul:nth-child(3) {
  width: 21%;
}

.footer-components ul:nth-child(1) {
}

.footer-components ul:nth-child(4) {
    width: 35%;
}

.subfooter  ul li:nth-child(4){
    border:0px;
}
.intro a.btn.btn-primary {color: #fff;}

.subfooter ul li {display: inline-flex;border-right: 1px solid black;padding: 5px;}

div#socialMedia {
    display: flex;
}

.subfooter {
    margin: 0 auto;
    width: 60%;
}

.iconTel {
    background: url('../img/phone.png');
    height:20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.iconMail {
    background: url('../img/mail.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.iconig {
    background: url('../img/instagram.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.iconfb {
    background: url('../img/facebook.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}



.icontwitter {
    background: url('../img/twitter.png');
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    display: block;
}


.info-contact .iconMap {
    height: 30px;
    width: 30px;
}

.info-contact .footer-components {
    padding-top: 18px;
}

.container.abel a {
    color: #000;
    text-decoration: underline;
}

.footer-components span {
    margin-right: 21px;
    margin-bottom: 18px;
}

.info-contact .footer-components span {
    margin-right: 12px;
}

.footer-components ul {
}


.info-contact {
    font-size: 18px;
    width: 40%;
}

.info-contact h1 {
    margin-bottom: 20px;
}

.container.contacts {
    padding-top: 80px;
    display: flex;
}


.iconMap {
    background: url('../img/location.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}



.footer-components button {
    border-radius: 0px;
}

.footer-components a {
    text-decoration: underline;
    color: #000;
}

.home section .container.abel p {
    width: 87%;
    font-size: 20px;
}
.home section .container.abel h2 {
    font-family: 'Concert One';
    margin-bottom: 25px;
}

.home section h1 {
    font-family: 'Concert One', cursive;
    border-bottom:3px solid #E88421;
    padding-bottom: 15px;
    padding-top: 45px;
    font-size: 47px;
    margin-bottom: 20px;
}

.footer-components {
    display: flex;
}
nav .nav-item {height: 50px;width: auto;}

.footer-components>ul>li {text-decoration: none;display: flex;margin-bottom: 5px;}

nav {


}

a.navbar-brand {
    font-family: 'Concert One', cursive;
}




.navbar-light .navbar-nav .nav-item.checker .nav-link:hover {
    border-bottom:0px;
}

.navbar-light .navbar-nav .nav-item.checker .nav-link {
    color: #fff;
    width: 170px;
}


.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #e88421;
    color: rgba(0,0,0,1);
}

.accessibilityCheck, .home h3 {
    font-weight: normal;

}

.compareResults a>img {
    width: 30px;
    height: 30px;
}
.wrapper-loader {
    display: none;
}

.wrapper-loader h6 {
    margin-top: 8px;
    text-align: -webkit-center;
}

.jumbotron.highscore li {
    margin-top: 17px;
    width: 60%;
    list-style-type: none;
}
.loader {

    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.compareResults a {
    float: right;
}

a#goBack>img {
    width: 30px;
    height: 30px;
}
.wrapper-results .col-sm-8 {
    margin-top: 20px;
}


.container.abel .abel.image img {
    width: 200px;
}


.home .wrapper {
    width:80%;
    margin: 0 auto;
    text-align: center
}

.bold{
font-weight:bold
}

div#columnResults {
    font-size: 12px;
    width: 25%;
}

.accessibilityCheck input#url {
    margin-top:20px;
    display: inline;
    height: 48px;
    /* margin: 0 auto; */
    margin-left: 14px;
    width: 43%;
    border-radius: 10px;
}

.btn-primary {
    background-color: #04549A;
    border-radius:15px;
}

.accessibilityCheck .btn-primary {
    border-radius: 0px;
    width: 100px;
    vertical-align: unset;
}



.home .card {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 23%;
}

.card-body:nth-child(2) {
}

.card-body:nth-child(2) a.card-link {
    color: #000000;
}

.card-body {
    border-right: 1px solid #e9ecf0;
}


.accessibilityCheck .jumbotron {
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    border: 2px solid #aea8a8;
    margin-top: 30px;
    background-color: #ffff;
    text-align: center;
}



.wrapper-results {
    display: grid;
}

.explanation {
    margin-top: 30px;
    width: 66%;
    text-align: -webkit-center;
    margin: 0 auto;
}

.compareWrapper {
    display: flex;
    margin-top: 20px;
}

.compareResults{
display: none;
}

.exampleShortsighted {height: 300px;margin-right: 10px;border:1px solid #ccc;margin-bottom:10px;filter: grayscale(100%);width: 400px;}
.exampleNotShortsighted {height: 300px;border:1px solid #ccc;margin-bottom:10px;width: 400px;}

.columnWrapper .row .card {
    width: 30%;
    border-radius: 15px;
}

.wrapper-results .row .card {
    width: 100%;
    margin-top: 20px;
}

.wrapper-results #columnResults .card {
    margin-top: 0px;
    border:0px;
    background: transparent;
    border-radius: 0;
}



.compareWrapper .row .card {
    width: 23%;
}

img.iconEye {
    width: 20px;
    margin-left: -39px;
    margin-right: 18px;
}

.columnWrapper {
    margin: 0 auto;
}

.row {
    margin-left: 0px;
    margin-bottom: 20px;
}

.compareWrapper .row {
    display: flex;
    margin: 10px;
}

.compareWrapper .row .card {
    font-size: 9px;
}

.effect > .row p.card-text {
    padding: 10px;
}

.columnWrapper {
    text-align: center;
    width: 55%;
}

 .navbar {
    margin-bottom: 0px;
    background-color: rgba(255,255,255,0.7);
}

div#headingTitle {
    text-align: center;
    border-radius: 10px;
}

.c100.big { font-size: 174px; }

.jumbotron.highscore {width: 41%;text-align: center;}

.tab-content .row>.card {width: 100%;min-height: 1000px;}

  .center-text {
    width: 50%;
    margin: 0 auto;
    margin-top: 63px;
}
  #inner-circle {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 70%;
    left: 69%;
    margin: -150px 0px 0px -150px;
  }

  .navbar-brand img {
    width: 30px;
}


main.container.checker {
    margin-bottom: 194px;
    width: 55%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.introTest {
    height: 500px;
    background-color: #F3EEE9;
}

.introTest .jumbotron {
    text-align: center;
    margin-top: 40px;
    background: #fff;
    border-radius: 15px;
}

.introTest .jumbotron h4 {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: -30px;
    text-align: center;
}





div#myTabContent p.card-text {
    min-height: 0px;
}
.nobackground {
    background-image: url('');
}
.bodyresult {
    background-image: url('../img/Blob_tool_test_header.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.introTest .jumbotron p {
    font-size: 20px;
}

div#myTabContent h5 {font-family: concert one;}



.container.about {
    width: 55%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.vision {
    display: flex;
}

.vision-text {
    width: 60%;
}

button#testButton {
    border-radius: 10px;
    width: 100px;
    height: 48px;
}




.vision-image img {
    width: 200px;
}

.mission {
    display: flex;
}

.mission-text {
    width: 60%;
    align-self: flex-end;
    padding: 30px;
}

.reference-page .container.contacts {
    padding-top: 40px;
}

 section.contact-abel {
    height: 490px;
}




.mission-image img {
    height: 255px;
}

section.aboutus p {
    font-size: 20px;
}

section.references {
    background: #f4eee9;
    overflow: auto;
}


div#myTabContent {
    margin-top: 25px;
}

.wrapper-check {height: 100%;}

.explain {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.subfooter a {
    color: #000;
}


.container.refer {
    width: 55%;
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background: #fff;
}

.container.refer h3 {
    text-align: center;
}

 tbody th{
    font-weight: 100;
    width: 55%;
}

tbody td a {
    text-decoration: underline;
}

.table thead th {
    border-top:0px;
}

.ref-column {
    display: flex;
}

.ref-column img {
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

.circle-wrapper {
    padding: 26px;
}

.jumbotron.uitleg {text-align: left;}

.container.contacts img {height: 400px;}



.table td, .table th {
    padding: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 30px;
}

.jumbotron.uitleg p {
    margin-top: 20px;
}

.reference {
    width: 90%;
    margin: 0 auto;
}

.jumbotron.uitleg img {
    width: 100%;
}


.info-contact  ul {
    width: 73%;
}

.accessibilityCheck h3, .accessibilityCheck h1 , .accessibilityCheck h2 {
    margin-top: -30px;
    border-bottom: 3px solid #e88421;
    padding-bottom: 10px;
    margin-bottom: 25px;
    width: 360px;
}


.info-contact a.btn.btn-primary {
    width: 246px;
    height: 55px;
    line-height: 45px;
}

a.btn.btn-primary {
    width: 200px;
    line-height: 33px;
    height: 47px;
}

.reference-page .container.contacts img {
    width: 63%;
}

.jumbotron.highscore ul>li {margin-bottom: 15px;margin-top: 15px;}

  @media screen and (max-width: 1300px) {
 
    .navbar-light .navbar-nav .nav-item.checker .nav-link{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        line-height: 15px;
    }

    li.nav-item {
        width: 108px;
    }

}
@media (min-width: 576px){
    #columnResults .col-sm-8 {
         -ms-flex: 0 0 66.666667%;
         flex: 100%;
         max-width: 100%;

     }
     
 }






  @media screen and (max-width: 1000px) {
    .accessibilityCheck .jumbotron { 
        width: 100%;
        text-align: center;
    }

    .circle-wrapper {
        padding: 0px;
    }

    .navbar {
        background-color: rgba(255,255,255,0.7);
    }

    .result-explanation {
        display: none;

    }

    .card {
        width: 100%;
    }

    .explanation {
    }

    .explanation span {
        margin-bottom: 20px;
    }

   .accessibilityCheck input#url {
        margin-top:20px;
        display: inline;
        margin-right: -4px;
        width: 60%;

    }

    .wrapper-results {
        display: block;
    }

    .scoreOverview {
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .columnWrapper .row  .card {

        width: 100%;
    }
}

a.navbar-brand {
    text-decoration: none;
    margin: 10px;
}


.footer-components a.navbar-brand {
    margin-left: 0px;
}


.navbar-light .navbar-nav .nav-link {
    padding: 10px;
    color: #000;
    margin: 10px;
    width: 100px;
}

nav {
    width: 100%;
    box-shadow: 0 5px 2px -2px grey;
}

.paragraph-score {width: 60%;border-radius: 10px;margin-right: 71px;padding: 26px;}

@media screen and (min-width: 1000px) {

    #carouselExampleControls {
    display: none;
}


div#overviewScore {padding: 10px;width: 55%;display: flex;margin: 0 auto;}
div#accordion {
    width: 23.8%;
    margin-top: 30px;
    position: absolute;
}



div#columnResults ul>li {
    font-size: 18px;
}


}
@media screen and (max-width: 1000px) {

    .accessibilityCheck input#url {

        width: 70%;

    }

    .accessibilityCheck .jumbotron {
        margin-top: 15px;
    }

    .accessibilityCheck h1 {
        font-size: 22px;
        width: 100%;
        margin-bottom: 10px;
    }

    .wrapper-results .row .card {
        width: 90%; 
    }

    .compareWrapper .row .card {
        width: 20%;
    }

    .compareWrapper {
        display: block;
    }


    #outer-circle {
        margin: 0 auto;
    }

    div#columnResults {
        border-right: 0px;
    }
}



.abel-explanation-image {
    margin: 0 auto;
}

.abel-explanation-image img {
    width: 400px;
    margin-top: 30px;
}


@media screen and (min-width: 1000px) {
    .columnWrapper p.card-text {height: 200px;}

   
}


@media screen and (max-width: 1300px) {

    .jumbotron button {
        margin-top: 20px;
    }

    .wrapper-loader h4 {

        font-size: 14px;
    }

    .abel-explanation-image {
        width: 100%;
    }

    .abel-explanation-image img {
        width: 300px;
        margin-top: 30px;
    }

    .container {
        width: 100%;
    }
    
    .explanation {
        width: 90%;
    }
}

    

@media screen and (max-width: 1550px) {

    .container.contacts {

        width: 80%;
    }

    section.contact-abel {
        height: 570px;
    }

    .columnWrapper .row .card {
    }

    .container.contacts {
        padding-top: 80px;
        display: flex;
        width: 68%;
    }

    .nav-tabs .nav-item {
        margin-bottom: -1px;
        width: 160px;

    }

    .container.intro {
        width: 80%;
    }

    .columnWrapper {
        width: 80%;
    }


    .container.abel {
        width:80%;
    }

    .container.partners {
        width:80%;
    }

    .container.slideshow {
        width:80%;
    }

    .info-contact {
        width: 41%;

    }

    section.footer {
        width: 75%;
    }

    .subfooter {
        width:70%;
    }

    main.container.checker {
        width: 85%;
    }

    .info-contact  ul {
        width: 86%;
    }

   }

   body {
    font-family: 'PT Sans';
}

div#resultsWrapper {
    margin: 0 auto;
}




html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

input[type="radio"] {
    border: 0px;
    vertical-align: middle;
    width: 5%;
    height: 2em;
}

.blueYellow {
    filter: url(#tritanopia);
    
}

.greyscale {
    filter:grayscale(100%);
}

.redGreen {
    filter: url(#deuteranopia);
}


.zoomOn {
    /* transform: scale(0.8); */
    filter: blur(10px);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.zoomOff {
    transform: scale(1);
    filter: blur(0px);
       -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}



.navbar-icon {
    width: 70%;
}



ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {
  
}

header {
    display: flex;
}

ul.navbar-nav {
    width: 55%;
    text-align: -webkit-center;
    margin: 0 auto;
    border-radius: 10px;
}


.jumbotron.uitleg h2 {
    border-bottom: 5px solid #E88421;
    width: 85px;
    padding-bottom: 12px;
}

.navbar-light .navbar-nav .nav-item.checker {
    font-weight: bold;
    background: #04549a;
    line-height: 5px;
    height: 52px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

div#resultsWrapper {
    min-height: 400px;
    margin-top: 100px;
}

#myTab li.nav-item {margin-right: 20px;}
ul#myTab {
    width: 55%;
    margin: 0 auto;
    height: 65px;
}





.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-link:active {
    border-color: #E88421;
    border-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs{
    border-color:transparent;
    color:#000;
    background-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #E88421;
    border-bottom: 0px;

}




.card-body h2 {
    margin-bottom: 10px;
}

ul.results-list {
    display: inline-block;
    width: 400px;
}

.wrapper-contrast-effect {
    margin-top: 10px;
}

div#myTabContent {
    width: 55%;
    margin: 0 auto;
}

.tab-content .card {
    border: 0px;
}

.results-list li:nth-child(1) {
    list-style-type: none;
}

.verklaring img {
    width: 200px;
}


.verklaring {
    display: flex;
    /* background: red; */
}

.screenshot-contrast {
    width: 300px;
    border-radius: 15px;
    border: 5px solid #E88421;
}

.screenshot-site {
    margin-bottom: 20px;
}

.verklaring p {
    width: 57%;
    margin-right: 50px;
}

.card-body {
    border: 0px;
}

.oplossing {
    display: flex;
}

.oplossing-image img {
    width: 200px;
}


.oplossing-wrapper {
    width: 60%;
}


.wrapper-404 .container {
}

.wrapper-404 h1 {
    font-size: 200px;
}

.text-404 {
    width: 50%;
    text-align: -webkit-center;
    margin: 0 auto;
    margin-top: 150px;
}


.wrapper-404 {
    width: 100%;
}

.mobileViewIncidents {
    display: none;
}




@media screen and (max-width: 1100px) {

    div#resultsWrapper {
        height: auto;
        margin-top: 100px;
    }

    .scoreOverview {
      
        display: block;

    }

    .d-block.w-100 {
        min-height: 200px;
    }

    div#outer-circle {
        margin-left: 15px;
        /* margin: 0 auto; */
        /* width: 100%; */
    }
    
    .carousel-inner {
        width: 90%;
        margin: 0 auto;
    }
    
    .circle-wrapper {
        margin: 0 auto;
        height: 300px;
        width: 100%;
        float: initial;
        margin-top: 20px;
    }



    .mobileViewIncidents {
        display: block;
    }

    carouselExampleControls {
        display: block;
    }



    ul.results-list {
        width: 100%;
    }

    .scoreOverview h2 {
        font-size: 24px;
    }

    .navbar {
        background-color: #fff;
    }

     .text-404 {
        width: 100%;

    }

    .paragraph-score {
        float: initial;
        width: 100%;
    }
    
    #outer-circle {
        margin-top: 20px;
    }

    .c100.big {
        font-size: 250px;
        margin: 0 auto;
}

.bodyresult .navbar {
    background: #fff;
}

}

@media screen and (max-width: 400px) {
    .circle-wrapper {
        width: 100%;
    }

}



.body-404 {
    background-image: url('../img/404_PAGE.png');

}

.checker-abel {
    background-image: url('../img/Blob_tool_test.png');
}


.contentOff {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
   opacity: 0.0 !important;
}

.contentOn {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
   opacity: 1.0 ;
}
.oplossing a {
    text-decoration: underline;
    color: #000;
}

.hideContent {
    display: none;
}


div#showInfo {
    width: 200px;
    margin: 0 auto;
    
    
}

div#color-deficiency-group {
    font-weight: bolder;
}

.tab-content span {
    font-style: oblique;
}


@media screen and (max-width: 1500px) {

    ul#myTab {
        width: 80%;
    }

    ul.navbar-nav {
        width: 80%;
    }

    div#myTabContent {
        width: 80%;
    }

    div#overviewScore {
        width: 80%;
    }
 }

 .oplossing-wrapper p {
    margin-right: 50px;
}



