
b {
    display: inline-block;
    /* margin-left: -4px; */
}

.accessibilityCheck, .home h3 {
    font-weight: normal;
   
}

.compareResults a>img {
    width: 30px;
    height: 30px;
}

.compareResults a {
    float: right;
}

a#goBack>img {
    width: 30px;
    height: 30px;
}
.wrapper-results .col-sm-8 {
    margin-top: 20px;
}




.home .wrapper {
    width:80%;
    margin: 0 auto;
    text-align: center
}

.bold{
font-weight:bold
}

div#columnResults {
    font-size: 12px;
    width: 25%;
}

.accessibilityCheck input#url {
    margin-top:20px;
    display: inline;
    margin-right: -6px;
    width: 80%;
    border-radius: 0px;
}

.btn-primary {
    background-color: #eeeeef;
    border: 1px solid #ccc;
    color:black;
}

.accessibilityCheck .btn-primary {
    border-radius: 0px;
    width: 100px;
    vertical-align: unset;
}

 .btn-primary:hover {
    background-color: black;
    color:#eeeeef;
    border: 1px solid #ccc;
}



.card {
    margin-top:20px;
    margin-right: 20px;
    width: 23%;
}

.card-body:nth-child(2) {
    background: #e9ecf0;
}

.card-body:nth-child(2) a.card-link {
    color: #000000;
}

.card-body {
    border-right: 1px solid #e9ecf0;
}


.accessibilityCheck .jumbotron { 
    background-color: white;
    width: 60%;
    margin: 0 auto;
}

.home .jumbotron {
    border-radius: 0px;
    background-color: #f1f3f7;
}

.wrapper-results {
    display: flex;
}

.explanation {
    margin-top: 40px;
}

.compareWrapper {
    display: flex;
    margin-top: 20px;
}

.compareResults{
display: none;
}

.exampleShortsighted {height: 300px;margin-right: 10px;border:1px solid #ccc;margin-bottom:10px;filter: grayscale(100%);width: 400px;}
.exampleNotShortsighted {height: 300px;border:1px solid #ccc;margin-bottom:10px;width: 400px;}

.columnWrapper .row .card {
    width: 30%;
}

.wrapper-results .row .card {
    width: 100%;
    margin-top: 20px;
}

.wrapper-results #columnResults .card {
    margin-top: 0px;
    background: #D8D8D8;
    border:0px;
    border-radius: 0;
}



.compareWrapper .row .card {
    width: 23%;
}

img.iconEye {
    width: 20px;
    margin-left: -39px;
    margin-right: 18px;
}

.columnWrapper {
    width: 82%;
    margin: 0 auto;
}

.row {
    margin-left: 0px;
    margin-bottom: 20px;
}

.compareWrapper .row {
    display: flex;
    margin: 10px;
}

.compareWrapper .row .card {
    font-size: 9px;
}

.effect > .row p.card-text {
    padding: 10px;
}

.home .columnWrapper {
    text-align: center;
}

.home .navbar {
    margin-bottom: 0px;
    border-radius: 4px 0px 4px 0px;
}

div#headingTitle {
    text-align: center;
}

.c100.big {
}

.tab-content .row>.card {width: 70%;}

  .center-text {
    width: 50%;
    margin: 0 auto;
    margin-top: 63px;
}
  #inner-circle {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 70%;
    left: 69%;
    margin: -150px 0px 0px -150px;
  }

 


@media (min-width: 576px){
    #columnResults .col-sm-8 {
         -ms-flex: 0 0 66.666667%;
         flex: 100%;
         max-width: 100%;
     
     }
 }

  @media screen and (max-width: 1000px) {
    .accessibilityCheck .jumbotron { 
        width: 100%;
        text-align: center;
    }

    .result-explanation {
        display: none;

    }

    .card {
        width: 100%;
    }

    .explanation {
        margin-top: 31px;
        display: grid;
    }

    .explanation span {
        margin-bottom: 20px;
    }

   .accessibilityCheck input#url {
        margin-top:20px;
        display: inline;
        margin-right: -4px;
        width: 60%;

    }

    .wrapper-results {
        display: block;
    }

    .scoreOverview {
        width: 90%;
        margin: 0 auto;
    }

    .columnWrapper .row  .card {

        width: 100%;
    }
}

a.navbar-brand {
    width: 45%;
    margin-left: 15%;
}



.navbar-light .navbar-nav .nav-link {
    color: white;
}

.bg-light {
    background: #e2e2e2!important;
}

.paragraph-score {width: 48%;float: left;padding: 50px;}

@media screen and (min-width: 1000px) {

div#overviewScore {background: #EDEDED;padding: 10px;width: 76%;}
div#accordion {
    width: 23.8%;
    position: absolute;
}
ul.navbar-nav.mr-auto.mt-2.mt-lg-0 {
    background: darkgray;
    font-size: 12px;
    padding-left: 10px;
}

.tab-content {
    margin-top: 20px;
    margin: 10px;
}


.result-explanation {
    width: calc(100% - 24.2%);
    float: right;
}

div#myTabContent .card-text {
}

div#columnResults ul>li {
    font-size: 18px;
}


}
@media screen and (max-width: 1000px) {

    .accessibilityCheck input#url {
     
        width: 70%;

    }

    .wrapper-results .row .card {
        width: 90%;
    }
    
    .compareWrapper .row .card {
        width: 20%;
    }

    .compareWrapper {
        display: block;
    }
   

    #outer-circle {
        margin: 0 auto;
    }

    div#columnResults {
        border-right: 0px;
    }
}