<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="body-404">
    <div class="wrapper-404">
        <main>
            <div class="container 404">
                <div class="text-404 checker">
                    <h1>404</h1>
                    <p>Het ziet ernaar uit dat je verdwaald bent</p>
                    <a role="button" class="btn btn-primary" href="/">Terug naar home</a>
                </div>
            </div>
        </main>
    </div>
    <% include ../partials/footerJS %>
</body>

</html>