<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <section class="introTest">
            <div class="container">
                <div class="jumbotron">
                    <h1>Over ons</h1>
                    <p>Het web toegankelijk maken is onze missie. We zijn gepassioneerde specialisten die het elke dag een beetje
                        beter willen doen. Vanuit full service creative agency Level Level helpen wij bedrijven sneller met
                        het implementeren en beheren van toegankelijkheid tools en -praktijken in uw bedrijf. Als Nederlandse
                        accessibility community met partners als Level Level en de Hogeschool Rotterdam, vormen wij een beweging
                        die werkt aan het web van morgen.</p>
                    <!-- <a class="btn btn-primary" href="/accessibilityCheck">Test je website!</a> -->
                </div>
            </div>
        </section>
        <section class="aboutus">
            <div class="container about">
                <div class="vision">
                    <div class="vision-text">
                        <h2>Onze Visie</h2>
                        <p>ABEL is een toegankelijkheidsplatform dat is geïnspireerd op de manier waarop u werkt. Van open source
                            tot bedrijf, u kunt code hosten en beoordelen, projecten beheren en software samen met miljoenen
                            andere ontwikkelaars bouwen.
                        </p>
                    </div>
                    <div class="vision-image">
                        <img src="img/ABEL_BASIS_VERBAASD.png" alt="abel verbaast">
                    </div>
                </div>
                <div class="mission">
                    <div class="mission-image">
                        <img src="img/ABEL_DENKEND.png" alt="abel denkt">
                    </div>
                    <div class="mission-text">
                        <h2>Onze Missie</h2>
                        <p>Onze missie is om visueel beperkten een handje te helpen, de (internet)wereld voor hen te openen.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>