<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">
				<h3>Results:</h3>
				<ul>
					<% for(var i = 0; i < data.length; i++) { %>

						<b>Type: <%= data[i].id %></b>
						<li>
							Description: <%= data[i].description %>
						</li>
						<li>
							Help: <%= data[i].help %>
						</li>
						<hr>
						<% } %>
				</ul>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>