<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="checker-abel">
    <div class="wrapper-check">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="container checker" id="checker-container">
                <div class="accessibilityCheck">
                    <div class="jumbotron">
                        <h1>
                            
                            Accessibility Check
                        </h1>
                        <div class="explanation">
                            <span>
                                Tegenwoordig is een groot aantal websites niet toegankelijk, wat betekent dat veel mensen uw website niet goed kunnen gebruiken.
                                Test nu jouw website met ABEL. Is jouw website toegankelijk voor iedereen?
                            </span>
                        </div>
                     

                        <form id="urlForm" method="POST" action="/accessibilityCheck">
                            <div class="form-group">
                                <span id="warning"></span>
                                <input type="text" class="form-control" id="url" aria-label="Enter url for Accessibility checker here" name="url" placeholder="Voer een url in">
                                <button type="submit" class="btn btn-primary" id="testButton">Start Test!</button>
                            </div>
                        </form>
                        <div class="abel-explanation-image" id="abel-check">
                            <img src="img/LOADINGPAGE.png" alt="abel story telling">
                        </div>
                        <div class="wrapper-loader" id="wrapper-loader">
                            <div class="abel-explanation-image">
                                <img src="img/LOADINGPAGE.gif" alt="abel story telling">
                            </div>
                            <h4 id="loadingText">Een moment geduld uw website wordt getest</h4>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script type="" src="/js/main.js"></script>
	<% include ../partials/footerJS %>
</body>

</html>