<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <section class="contact-abel">
            <div class="container contacts">

                <div class="info-contact">
                    <h1>Heb je vragen?</h1>

                    <p>Neem gerust contact met ons op</p>
                    <a href="/accessibilityCheck" class="btn btn-primary">Bel ons: 010-842 92 59</a>
                    <div class="footer-components">
                        <ul>
                            <li>
                                <span class="iconMail"></span>
                                <p> of mail naar
                                    <a href="info@abel.nl"> info@abel.nl</a>
                                </p>

                            </li>
                            <li>
                                <span class="iconMap"></span> Willem Buytewechstraat 42 3024 BN Rotterdam The Netherlands</li>
                        </ul>
                    </div>
                </div>

                <div class="intro-image">
						<img src="img/ABEL_ILLUSTRATIONS-01.png" alt="abel groot animatie">
					</div>
            </div>
        </section>
        <% include ../partials/partners %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script type="" src="/js/main.js"></script>
</body>

</html>