<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="home">
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<section class="intro-section">
				<div class="container intro">
					<div class="intro-text">
						<h1>Het web toegankelijk maken voor iedereen.</h1>
						<p>Ondanks dat de digitale wereld steeds gebruiksvriendelijker wordt, wordt dezelfde wereld voor blinden en slechtzienden
							steeds beperkter: zij hebben geen of beperkte toegang tot het internet. Hier willen wij van ABEL iets aan veranderen,
							maar daar hebben we jouw hulp bij nodig. Test hoe toegankelijk jouw website is. Kan ABEL jouw website gebruiken?</p>
						<a href="/accessibilityCheck" class="btn btn-primary">Test nu uw website!</a>
					</div>
					<div class="intro-image">
						<img src="img/abel_groot.png" alt="abel groot animatie">
					</div>
				</div>

			</section>

			<section class="home-info">
				<div class="columnWrapper">
					<div class="row">
						<div class="card">
							<div class="card-body">
								<h2 class="card-title">Wat is accessibility?</h2>
								<p class="card-text">Web accessibility, ook wel toegankelijkheid, betekent het web beschikbaar én bruikbaar maken voor iedereen, inclusief
									mensen met een beperking. Een goede website ziet er niet alleen goed uit, maar is zó opgezet dat deze bruikbaar
									is. </p>
							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary">Lees meer</button>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<h2 class="card-title">Hoe verander ik mee?</h2>
								<p class="card-text">ABEL biedt veel informatie en mogelijkheden over accessibility. Wij kunnen je ondersteunen in het bouwen naar toegankelijkheid.
									Leren stopt nooit, groei daarom met ons mee!</p>
							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary">Lees meer</button>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<h2 class="card-title">Onze voorlichtingen</h2>
								<p class="card-text">Accessibility is een nog vrij onbekend begrip met een grote lading. Wij vinden het daarom juist zo belangrijk dat
									iedereen hiervan op de hoogte is. ABEL zet zich in om zoveel mogelijk mensen te informeren over web accessibility
									en streeft ernaar het begrip standaard te maken. </p>
							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary">Lees meer</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="abel">
				<div class="container abel">
					<div class="abel text">
						<h2> Wie is ABEL?</h2>
						<p>ABEL is een toegankelijkheidsplatform dat is geïnspireerd op de manier waarop u werkt. Van open source tot bedrijf,
							u kunt code hosten en beoordelen, projecten beheren en software samen met miljoenen andere ontwikkelaars bouwen.
							<a href="/over-ons" title="lees meer over over het ABEL platform" role="link">Lees meer over ons.</a>
						</p>
					</div>
					<div class="abel image">
						<img src="img/abel_klein.png" alt="abel groot animatie">
					</div>

				</div>
			</section>
			<% include ../partials/partners %>
				<section class="slideshow">
					<div class="container slideshow">
						<h2>Bijdragers van ABEL</h2>
						<div class="slideshow-content">
							<img src="img/foto_bijdrager.jpg" alt="">
							<blockquote class="blockquote">
								<p class="mb-0">Persoonlijk, betrouwbaar, secuur en met passie helpt ABEL met het web toegankelijker maken! </p>
								<footer class="blockquote-footer">
									<cite title="Source Title">Danny van Buuren projectleider Coolblue</cite>
								</footer>
							</blockquote>
						</div>
					</div>
				</section>
	</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<script>

	</script>
	</div>
</body>

</html>