<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
		<h3><%= header %></h1>
			<form method="POST" action="/" >
				<div class="form-group">
				  <label for="InputUrl">URL</label>
				  <input type="text" class="form-control" id="url" aria-describedby="urlHelp" name="url" placeholder="Enter url">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		<ul>
		</ul>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>