<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="home">
		<header>
			<% include ../partials/header %>
		</header>

		<main>

			<section class="intro-section">
				<div class="container intro">
					<div class="intro-text">
						<h1>Het web toegankelijk maken voor iedereen.</h1>
						<p>Een open source platform die het web toegankelijk maakt voor visueel beperkten doormiddel van bewustwoording en kennis
							delen. Gebruik onze tool en optimaliseer ook uw website!</p>
						<button type="button" class="btn btn-primary">Test nu uw website!</button>
					</div>
					<div class="intro-image">
						<img src="img/abel_groot.png" alt="abel groot animatie">
					</div>
				</div>

			</section>

			<section class="home-info">
				<div class="columnWrapper">
					<div class="row">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Wat is accessibility?</h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary">Lees meer</button>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Hoe verander ik mee?</h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary">Lees meer</button>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Onze voorlichtingen</h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary">Lees meer</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="abel">
				<div class="container abel">
					<div class="abel text">
						<h2> Wie is ABEL?</h2>
						<p>ABEL is een toegankelijkheidsplatform dat is geïnspireerd op de manier waarop u werkt. Van open source tot bedrijf,
							u kunt code hosten en beoordelen, projecten beheren en software samen met miljoenen andere ontwikkelaars bouwen.
							<a href="#">Lees meer over ons.</a>
						</p>
					</div>
					<div class="abel image">
						<img src="img/abel_klein.png" alt="abel groot animatie">
					</div>

				</div>
			</section>
			<section class="partners">
				<div class="container partners">
					<h2>Partners van Abel</h2>
					<img src="img/the-tribe_logo.png" alt="">
					<img src="img/ah_logo.png" alt="">
					<img src="img/coolblue_logo.png" alt="">
				</div>
			</section>
			<section class="slideshow">
				<div class="container slideshow">
					<h2>Bijdragers van ABEL</h2>
					<div class="slideshow-content">
						<img src="http://www.designskilz.com/random-users/images/imageM27.jpg" alt="">
						<blockquote class="blockquote">
							<p class="mb-0">Persoonlijk, betrouwbaar, secuur en met passie helpt ABEL met het web toegankelijker maken! </p>
							<footer class="blockquote-footer">Danny van Buuren projectleider
								<cite title="Source Title">AH</cite>
							</footer>
						</blockquote>
					</div>
				</div>
			</section>
	</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	<script>

	</script>
	</div>
</body>

</html>