<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="reference-page">
            <section class="contact-abel">
                <div class="container contacts">

                    <div class="info-contact">
                        <h1>Heb je vragen?</h1>

                        <p>Neem gerust contact met ons op</p>
                        <a href="/accessibilityCheck" class="btn btn-primary">Bel ons: 010-842 92 59</a>
                        <div class="footer-components">
                            <ul>
                                <li>
                                    <span class="iconMail"></span>
                                    <p> of mail naar
                                        <a href="mailto:info@abel.nl"> info@abel.nl</a>
                                    </p>

                                </li>
                                <li>
                                    <span class="iconMap"></span> Willem Buytewechstraat 42 3024 BN Rotterdam The Netherlands</li>
                            </ul>
                        </div>
                    </div>

                    <div class="reference-text">
                        <div class="jumbotron">
                            <p>ABEL is eigendom van Level Level, full service Wordpress agency. Hun gedreven en multidisciplinaire
                                team wordt blij van het creëren van mooie en stabiele producten voor het internet. Met de
                                focus op een optimale gebruikerservaring voor alle apparaten helpen wij onze klanten hun
                                online doelstellingen te bereiken.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="references">
            <div class="container refer">
                <h3>Referenties</h3>

                <div class="reference">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Producten</th>
                                <th scope="col">Hulpbronnen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <th scope="row">
                                    <div class="ref-column">
                                        <img src="img/google.png" alt="Referentie_icon">
                                        <div class="info-ref">
                                            <h5> Google Accessibility</h5>
                                            <p> Google Accessibility biedt informatie en bronnen om u te helpen toegankelijke
                                                producten en apps te ontwikkelen.</p>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="https://www.google.com/accessibility/">Ga naar de website</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="ref-column">
                                        <img src="img/axe.png" alt="Referentie_icon">
                                        <div class="info-ref">
                                            <h5>The Accessibility Engine</h5>
                                            <p> AXE biedt toegankelijkheidscontrole voor toegang tot WCAG 2 en sectie 508. Zoek
                                                problemen op uw website of webtoepassing.</p>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="https://axe-core.org">Ga aan de slag met The Accessibility Engine </a>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="ref-column">
                                        <img src="img/selenium.png" alt="Referentie_icon">
                                        <div class="info-ref">
                                            <h5>Selenium</h5>
                                            <p> Selenium is een draagbaar softwaretestkader voor webtoepassingen. Selenium biedt
                                                een afspeelprogramma (voorheen ook opname) voor het maken van tests zonder
                                                de noodzaak om een test-scriptingtaal te leren (Selenium IDE).</p>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="https://www.seleniumhq.org">Ga aan de slag met Selenium</a>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="ref-column">
                                        <img src="img/wordpress.png" alt="Referentie_icon">
                                        <div class="info-ref">
                                            <h5>Wordpress Accessibility</h5>
                                            <p> We willen dat gebruikers, ongeacht hun apparaat of bekwaamheid, inhoud kunnen
                                                publiceren en een website of applicatie onderhouden.</p>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="https://nl.wordpress.org/plugins/tags/accessibility/">Leer meer over wordpress Accessibility </a>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="ref-column">
                                        <img src="img/funkify2.jpg" alt="Referentie_icon">
                                        <div class="info-ref">
                                            <h5>Funkify Extension</h5>
                                            <p> Funkify is een extensie voor Chrome die u helpt het web en de interfaces te ervaren
                                                door de ogen van verschillende visueel beperkten.</p>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="https://chrome.google.com/webstore/detail/funkify-disability-simula/ojcijjdchelkddboickefhnbdpeajdjg">Download de Funkify Extension</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <p>Versterk de beweging om het web toegankelijk te maken voor iedereen en
                        <a href="#">meld je aan bij de ABEL community</a>
                    </p>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>